RewriteEngine On
# Asegura que Apache sepa que estamos en esta subcarpeta
RewriteBase /IglesiaDelNazarenoBagua/

# Evita que se liste el contenido de las carpetas
Options -Indexes

# 1. Si piden la raíz vacía, forzar la carga del index
RewriteRule ^$ public/index.php?vista=inicio [L,QSA]

# 2. Si el archivo solicitado existe (imagen, css, hola.php), no hagas nada
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# 3. Todo lo demás, enviarlo al Front Controller
RewriteRule ^(.*)$ public/index.php?vista=$1 [L,QSA]